files:
  "/tmp/files.log":
    content: |
      What date have I?
  "/tmp/11my_appdeploy_pre.sh":
    mode: "000755"
    owner: root 
    group: root 
    content: |
      echo "`date`:11my_appdeploy_pre.sh ran" >>/tmp/order.log
  "/tmp/12my_configdeploy_pre.sh":
    mode: "000755"
    owner: root 
    group: root 
    content: |
      echo "`date`:12my_configdeploy_pre.sh ran" >>/tmp/order.log
  "/tmp/13my_appdeploy_post.sh":
    mode: "000755"
    owner: root 
    group: root 
    content: |
      echo "`date`:13my_appdeploy_post.sh ran" >>/tmp/order.log
  "/tmp/14my_configdeploy_post.sh":
    mode: "000755"
    owner: root 
    group: root 
    content: |
      echo "`date`:14my_configdeploy_post.sh ran" >>/tmp/order.log

commands:
  21cp_appdeploy_pre:
    command: "cp -f /tmp/11my_appdeploy_pre.sh /opt/elasticbeanstalk/hooks/appdeploy/pre/11my_appdeploy_pre.sh"
  22cp_configdeploy_pre:
    command: "cp -f /tmp/12my_configdeploy_pre.sh /opt/elasticbeanstalk/hooks/configdeploy/pre/12my_configdeploy_pre.sh"
  23cp_appdeploy_post:
    command: "cp -f /tmp/13my_appdeploy_post.sh /opt/elasticbeanstalk/hooks/appdeploy/post/13my_appdeploy_post.sh"
  24cp_configdeploy_post:
    command: "cp -f /tmp/14my_configdeploy_post.sh /opt/elasticbeanstalk/hooks/configdeploy/post/14my_configdeploy_post.sh"
  30my_command:
    command: echo "`date`:30my_command ran" >> /tmp/order.log
      
container_commands:
  99my_container_command:
    command: echo "`date`:99my_container_command ran" >> /tmp/order.log